.material-icons-round{
    font-size: 1.4rem;
    background-color:rgba(0, 38, 255, 0.329);
    padding: 0.3rem;
    border-radius: 50%;
    margin: 0.1rem;
  color: antiquewhite;
  }
  
  .nav-link{
    padding: 0.2rem 1rem;
  }
  